$navbar-default-bg: #FFFFFF;

@import "bootstrap-sprockets";
@import "bootstrap";

.container{
  padding-top: 10px;
}

.navbar{
  color: #000;
}

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: lowercase;
  letter-spacing: +1px;
  font-weight: bold;
}

.jumbotron {
  div{
    vertical-align: middle;
    text-align: center;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  small{
    float: left;
  }
  a:hover {
    color: #222;
    text-decoration: none;
  }
  ul{
    list-style: none;
    float: right;
    li{
      float:left;
      margin-left: 15px;
    }
  }
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.well{
  margin-top: 15px;
}

/* article styling */

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
